@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Adramalech';
    src: url('./fonts/adramalech.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }